* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  font-family: "Lexend", Arial, sans-serif;
}
