.rock-banner {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 5px 9px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.rock-info {
  flex: 1;
  /* take up remaining horizontal space */
  text-align: left;
  font-size: 14px;
  color: #333;
}

.date-text {
  font-size: 0.8rem;
  font-style: italic;
  color: #666;
  user-select: none;
}