.footer-content {
  height: 300px;
  width: 100%;
  background-color: #01233c; /* Dark blue fallback/margin color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/media/bkg/sudc_footer.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

@media (max-width: 768px) {
  .footer-content {
    height: 150px;
  }
}

.footer-content-inner a {
  text-decoration: none;
}

.footer-content-inner {
  position: relative;
  text-align: center;
}

.footer-content-inner ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content-inner li {
  list-style: none;
  padding: 0 10px;
  position: relative;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgba(95, 99, 104, 1);
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
}

.icon-circle:hover {
  background-color: rgb(15, 17, 18);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.footer-content-inner i {
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
