.footerContent {
  height: 300px;
  width: 100%;
  background-color: #01233c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/media/bkg/sudc_footer.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

@media (max-width: 768px) {
  .footerContent {
    height: 150px;
  }
}

.footerContentInner {
  position: relative;
  text-align: center;
}

.footerContentInner a {
  text-decoration: none;
}

.footerContentInner ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footerContentInner li {
  list-style: none;
  padding: 0 10px;
  position: relative;
}

.iconCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: rgba(95, 99, 104, 1);
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.iconCircle:hover {
  background-color: rgb(15, 17, 18);
  cursor: pointer;
}

.footerContentInner i {
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}