.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  background-color: #f3f4f6;
}

.section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.content {
  position: relative;
  text-align: center;
  z-index: 1;
}

.content h1 {
  font-weight: 500;
  font-size: clamp(0.1rem, 15vw, 5rem);
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.content p {
  font-weight: 500;
  font-size: clamp(0.5rem, 15vw, 1.2rem);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.scrollIconContainer {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.scrollIconContainer:focus {
  outline: none;
}

.scrollIcon {
  width: 50px;
  height: 50px;
  color: white;
  transition: stroke 0.3s, transform 0.3s;
}

.scrollIconContainer:hover .scrollIcon {
  stroke: rgba(110, 183, 216, 1);
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .content h1 {
    font-size: clamp(0.1rem, 15vw, 2.5rem);
  }

  .content p {
    font-size: clamp(0.5rem, 15vw, 0.8rem);
  }

  .scrollIconContainer {
    bottom: 170px;
  }
}