:root {
  --nav-bg-color: rgba(0, 0, 0, 0.7);
  --nav-link-color: #fff;
  --nav-link-hover-color: rgba(110, 183, 216, 1);
  --nav-link-hover-bg: rgba(255, 255, 255, 0.05);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nav-bg-color);
  padding: 0rem 3.125rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.navItem {
  list-style: none;
}

.navLink {
  position: relative;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--nav-link-color);
  padding: 0 0.2rem;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navLink span {
  display: inline-block;
  position: relative;
}

.navLink span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 5px;
  background: var(--nav-link-hover-color);
  transition: width 0.3s ease;
}

.navLink:hover,
.activeLink {
  color: var(--nav-link-hover-color);
  background-color: var(--nav-link-hover-bg);
  border-radius: 6px;
}

.navLink:hover span::after {
  width: 100%;
}

.activeLink span::after {
  width: 100%;
  transition: none;
}

.mobileToggle {
  display: none;
  cursor: pointer;
  z-index: 101;
}

.mobileToggle i {
  color: var(--nav-link-color);
  font-size: 1.5rem;
}

@media screen and (max-width: 769px) {
  .navbar {
    height: 50px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .navList {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: 0;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.7);
    padding: 1.5rem 0 0 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
  }

  .showMenu {
    transform: translateX(0);
  }

  .navItem {
    margin-bottom: 1.5rem;
  }

  .mobileToggle {
    display: block;
  }

  .mobileToggle i {
    font-size: 24px;
  }

  .navLink span::after {
    transition: none;
  }
}
